{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="container col-md-8">


          <div class="row">
          <div class="col-md-8">
          {{ wtf.quick_form(login_form) }}

          <button class="btn btn-success"><a href="{{ url_for('main.register') }}">Click to Register!</a></p>
          </div>
          </div>


          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>





{% endblock %}
